body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #0078ff;
    color: white;
    text-align: center;
    padding: 25px;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 15px;
    border-radius: 10px;
}

h2 {
    color: #0078ff;
}

pre {
    background: #2d2d2d;
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}
footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
}
