body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

/* HEADER */
header {
    background: #0078ff;
    color: white;
    text-align: center;
    padding: 20px;
}

/* PROFILE PHOTO */
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 10px;
}

/* NAVBAR */
nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav a:hover {
    color: #00eaff;
}

/* SECTIONS */
section {
    padding: 20px;
    background: white;
    margin: 15px;
    border-radius: 10px;
}

h2 {
    color: #0078ff;
}
/* FIXED CODE BLOCKS */
pre {
    background: #000 !important;
    padding: 20px !important;
    border-radius: 10px !important;
    overflow-x: auto !important;
}
pre code {
    background: none !important;
    color: #fff !important;
    font-size: 15px !important;
    font-family: "Courier New", monospace !important;
    white-space: pre !important;
}
/* DARK SECTIONS */
section#code1,
section#code2,
section#code3 {
    background: #000 !important;
    color: #fff !important;
    border-radius: 10px;
    padding: 20px;
}
/*for resume download*/ 
.resume-btn {
    display: inline-block;
    margin-top: 12px;
    background: #00eaff;
    color: #000;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
}
.resume-btn:hover {
    background: #fff;
    color: #0078ff;
}
/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    background: #000;
    margin-top: 20px;
}
footer a {
    color: #00aaff;
    text-decoration: none;
}
footer p {
    margin: 4px 0;
}



