body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #0078ff;
    color: white;
    text-align: center;
    padding: 25px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #00aaff;
}


section {
    padding: 20px;
    background: white;
    margin: 15px;
    border-radius: 10px;
}

h2 {
    color: #0078ff;
}

/* Force dark code block */
pre, pre code, code {
    background-color: #000 !important;
    color: #fff !important;
    padding: 15px !important;
    border-radius: 10px !important;
    display: block !important;
    overflow-x: auto !important;
    font-size: 15px !important;
    font-family: "Courier New", monospace !important;
}
    /* EACH CODE SECTION BACKGROUND */
section#code1,
section#code2,
section#code3 {
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 10px;
    padding: 20px;
}
footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    background: #000;
    margin-top: 20px;
}

footer p {
    margin: 4px 0;
}





