body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #0078ff;
    color: white;
    text-align: center;
    padding: 25px;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    background: white;
    margin: 15px;
    border-radius: 10px;
}

h2 {
    color: #0078ff;
}

/* Code block styling */
pre {
    background-color: #000;   /* Black background */
    color: #fff;              /* White text */
    padding: 15px;
    border-radius: 10px;
    overflow-x: auto;
    font-size: 15px;
}

code {
    background: none;         /* Remove white box */
    color: inherit;           /* Same as pre text */
    font-family: "Courier New", monospace;
}

